
.icon-suitcase:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-play-circled2:before { content: '\e802'; } /* '' */
.icon-truck:before { content: '\e803'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */